@mixin margin {
    margin: 1rem;
}
@mixin flex-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@mixin border {
    border: solid grey 1px;
    border-radius: 1rem;
}
.project, .reveal-btn, h2, h3, li, a {
    @include margin();
}
.project {
    @include flex-start();
    @include border();
    padding: 1rem;
    width: 100%;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
}
.bottom {
    @include flex-start();  
    width: 100%;
    display: none;
    &.visible {
        transform-origin: center top;
        animation: reveal 300ms ease-in-out forwards;
    }
}
@keyframes reveal {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
.reveal-btn {
    @include border();
    cursor: pointer;
    margin: 1rem 0;
    padding: 0 1rem;
    transition: 300ms;
    &:hover {
        margin: 1rem 0 1rem;
        padding: 1rem 2rem;
    }
}
.technologies {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    font-size: 2rem;
    font-weight: 600;
    li {
        margin: 1rem;
    }
}
a {
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
}
img {
    width: 60vw;
    height: 30vw;
}
.visible {
    display: flex;
}