@mixin margin {
    margin: 1rem;
}
@mixin flex-start {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@mixin border {
    border: solid grey 1px;
    border-radius: 1rem;
}
.project, .reveal-btn, h2, h3, li, a {
    @include margin();
}
.project {
    @include flex-start();
    @include border();
    padding: 1rem;
    width: 100%;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
}
.bottom {
    @include flex-start();  
    width: 100%;
    transform-origin: center top;
}
.technologies {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    font-size: 2rem;
    font-weight: 700;
    li {
        margin: 1rem;
        font-weight: 600;
    }
}
a {
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
}
img {
    width: 60vw;
    height: 30vw;
}
@media(max-width: 520px) {
    .bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .technologies {
        flex-direction: column;
        align-items: center;
    }
    img {
        width: 100%;
        height: 40vw;
    }
}
