.project {
    width: 100%;
    margin: 1rem;
    border: solid grey 1px;
    text-align: center;
}
.technologies {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
li {
    margin: 1rem;
}
.name {
    font-size: 3rem;
}
h3 {
    margin: 1rem;
    font-size: 2rem;
}
a {
    text-decoration: none;
}
.live-server, .repository {

}
img {
    width: 60vw;
    height: 30vw;
}