<div class="project">
    <h2 
    class="name"
    >{{project.siteName}}</h2>
    <h3>Technologies:</h3>
    <ul  class="technologies">
        <app-technologies 
        *ngFor="let tech of project.technologies" 
        [tech]="tech"
        ></app-technologies>
    </ul>
    <h3 class="live-server">
        <a  
        target="_blank" 
        [attr.href]="liveServer"
        >Live Server</a>
    </h3>
    <h3 class="repository">
        <a 
        target="_blank" 
        [attr.href]="repository"
        >Repository</a>
    </h3>
   <div 
        class="photo"
        [ngStyle]="{ 'background-image': photoPath}">
    </div>
</div>
