<div class="project">
    <div class="header">
        <h2 
        class="name"
        >{{project.siteName}}</h2>
        <div 
        class="reveal-btn"
        (click)="reveal()"
        >+</div>
    </div>
    <div 
    [ngClass]="{'visible': visible}"
    class="bottom">
        <ul class="technologies">
            <h3>Technologies:</h3>
            <li 
            *ngFor="let tech of project.technologies" 
            >{{ tech }}</li>
        </ul>
        <a  
        target="_blank" 
        [attr.href]="liveServer"
        >Live Server</a>
        <a 
        target="_blank" 
        [attr.href]="repository"
        >Repository</a>
        <img src="{{ photoPath }}" alt="">
    </div>
</div>
