<app-header [dark]="dark"
(changeDark)="handleDark()"></app-header>
<main [ngClass]="{'dark': dark}">
  <router-outlet>
    <app-project-list></app-project-list>
    <app-article-list></app-article-list>
  </router-outlet>
</main>
<footer [ngClass]="{'dark': dark}">
  <h3>Contact:</h3>
  <nav>
    <a class="underline" 
    href="mailto:jacobshomali3@gmail.com">jacobshomali3@gmail.com</a>
    <a class="underline"
    href="linkedin.com/in/jacob-shomali-a206aa1ba ">LinkedIn</a>
  </nav>
</footer>

