main {
    padding: 80px 1rem 150px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
footer {
    width: 100%;
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    nav {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            padding-top: 1rem;
        }
    }
}